/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;700;800&display=swap');

/* shared style  */
.btn-primary{
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}
.font-light-gry{
    color: #727272;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;   
}
/* heder style  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner style  */
.banner-conteint{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:  #131313;
}


.banner img{
    margin-top: 20px;
    width: 100%;
}

main{
    width: 1440px;
    margin: 0 auto;
}
/* teams style  */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 2.9rem;
}
.teams-title .Quick-1{
    color: var(--dark-03, #727272);
    font-weight: 500;
}
.teams-title .Quick-2{
    color: #131313;
    font-weight: 700;

}
.teams-title .Quick-3{
    color: #FF900E;
    font-weight: 700;
}
/* feature section style  */
.features{
    margin-top: 130px;
    gap: 146px;
    display: flex;
}
.features .section-title{
    border-left: 5px solid#FF900E;
    padding-left: 20px;
}
.feature-containt .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}
/* facts section  */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px; 
}
.features-img img{
    height: 90%;
    margin-left: 80px;
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;

}
.ten-years-badge p{
    font-size: 1.5rem;

}

.facts-card-containe .card-title{
        font-weight: 600;
        font-size: 1.25rem;
        margin-top: 6px;
}
.facts-card-containe .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sponser{
    text-align: center;
}
.sponsers-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}
.sponsers-img-container img{
    width: 165px;
}
footer{
    display:;
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7
}

/* responsive style  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-containe
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }

}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width: 960px) {
    nav, .teams-container,
    .facts-card-containe 
    {
        flex-direction: column;
    }
    
}